dash==2.17.0
dash-bootstrap-components==1.6.0
dash-leaflet==1.0.2
pandas==2.2.2
numpy==1.26.4
plotly==5.22.0
requests==2.31.0
shapely==2.0.4
dash-extensions==1.1.1
geopandas==0.14.4
fiona==1.9.6
scipy==1.13.1
pyribs==0.6.1
numba==0.59.1
pyyaml==6.0.1
psutil==5.9.8
dash-leaflet-plugins==1.0.0
PyLaTeX==1.4.1
scikit-learn
scikit-learn-extra
hdbscan
scikit-image
pytorch-msssim
torch>=2.0.0
