body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.top-bar {
    width: 100%;
    background-color: white; /* Tailwind color: gray-800 */
    color: black;
    padding: 0.75rem; /* Tailwind spacing: p-3 */
    padding: 10px 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.logo-image {
    height: 1em; /* Adjusts the size of the logo to match the surrounding text */
    vertical-align: middle; /* Aligns the image with the text */
    display: inline-block; /* Ensures the image behaves like an inline element */
}

.top-bar img {
    height: 4rem; /* Tailwind size: h-10 */
}

.container {
    display: flex;
    width: 100%;
    height: calc(100vh - 50px); /* Adjust height according to the header's height */
}

.column {
    flex: 0 1 auto;
    width: 25%; /* Start with equal width, this might be overriden later in this file */
    padding: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    position: relative;
}

.title {
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}

.resizer {
    width: 5px;
    background: #ddd;
    cursor: col-resize;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}





#inputSection {
    background-color: #4b5563;
    color: #fff;
    width: 15%;
}





#solutionSection {
    background-color: #374151;
    color: #fff;
    width: 40%;
}
.content-container {
    position: relative;
    padding-top: 30px;
    padding-left: 30px;
}
.x-axis-label, .y-axis-label {
    position: absolute;
    font-weight: bold;
}
.x-axis-label {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.y-axis-label {
    left: 3%;
    bottom: 40%;
    transform: translateY(50%) rotate(-90deg);
    transform-origin: left bottom;
}




#analysisSection {
    background-color: #4b5563;
    color: #fff;
    width: 30%;
}
.map-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 8px;
    background-color: black;
    color: white;
    padding: 4px;
}


#llmSection {
    background-color: #374151;
    color: #fff;
    width: 15%;
}